<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <img alt="Qries" src="https://lh3.googleusercontent.com/YLKl8urPC_FXcNAn888vXTngkkEHnj_XsEOmdKSCKJpWG0-wDWLJZ-MrSE6NmDNRFoAPdB2y9N3XH366591pqzy8N2HgLxk9eEqc2ScjuVn_7HC2GQvgN3PvBGCS1kSXrK4w6_G9QJ1IklCoZeqsnDU4v0skrqhY6BCD7N06Mwqywd5fFsNrdLR9ojixXsNEe9hgqjktHdCFBOmv0CUuijt-w2O1yVIsJEiGvX5JXV0NnhkVkgaqLbXY73NTnZlHtITSG3anMMTIBkyGUcXEsv5nxmmyw3NOoIXbqxEbNcVdFLf7GJip-MCk0ysOZzFuWZQbnOCLnujHsHy4Ro5MmtT1ns_5Y4_nsee8XskxyzZ2hGWHnhivhhMCCTiqRiPvfrusymtcDibwjQRV1t2pmviiUbUYpad1rimEPr1FmDq3z4qbMKEWE4LHdBfV8sgpJv6Bg_ds9gootfOYNIC5qMDv_EKXlL8cO5L-OOfnSOUmELLRpiiWCyV_3-hlRiPKAnc99XoY7_E34KqZqAn7u3n2KcKL8v5-pgBdrOjVVWhJKdeXh1dquEaWNshn4jg9kbhxdZEwacGmXytypYJseVXSPVyHn3P_oVs3EnvGJH93Ng3I2_d-pMyFA_Re27vyi14D-xHgcC4v5jl64n0vdSV6X3Q93TwKmeuR5B1TyXpwBVZOMMGnhzMUlr914Qo=w851-h315-no?authuser=0"> 
    <br>
    <p>Hi <%= @user.name %>,<p><br>

    <p>Remember to check in for the following challenges you have:</p>
    <% @user.challenges.each do |challenge|%>
      <p> * <%= challenge.name %></p>
    <% end %>

    <br><p>Go to the <%= link_to "Profile page", @user %> to check in</p><br>

    <p>Regards,</p>
    <p>Team One Day Challenge</p>
    <%# <img alt="Qries" src="https://lh3.googleusercontent.com/GSMBIU9Dd8r0Mn6yku0o5VAex2EOK3HgO9_3AzYYXADU0Z3pYCqqIMQlDCT0r2aVBd0C40M9YwfGditmCCf3srjRAs5aYs417zfE8gbMNtnlqXil0cZS2EGmgNnJsm4p1DcFEaLTgji9hS9dlg0ZqGmVmfv3ZoPCER8eR-OhsbyLc3uasloI0xbp-Eh01DQ-ClkW0R-jzxr7BozV4lsHTo1UIyKkAtv9aEASbw5x1ZXny56cq1hqgHPfK92wHQNtZ4HBrnsdY5BGqzY3ujkxuLoT_0bdrs-s5rJkroH7t9FTykam7H3l0jRuDqbx_vZ9YycLRoP4S5Z_9jD9UQ8luMdlb44ryfDxCRUmP2DIgzVFfHmlQbvpfC-oZhRQh_dOchh2Pim9thYnA6YW5Q1AsSEAj3yGRoebxWSMdLM0Jos78GsG8er8ekc1KTHe52JtewEuWy1hiff1PwQvfRMOmscbH4ZfMGQ2Je5M7eIwQKozLdsfFwUwARbziBJ1Omk1lfL1d9_r85fw7iSVmFggQgpMxwhPbhdKfeiiEpFJluv49eHup-jT8t7uYIRolGvDyvwhNK1GVTAKsOrxxH8Qkqsk1sLveN89LY0X22B1aAjMBBEWyQ3qbP6myx6X3tYe6lAS6KbhjqNRxtzRUmxPQlkFmOJsHYrRfocyIwYsKh5gkIO5KkU6kkRPjzVZvU4=w468-h60-no?authuser=0">  %>
  </body>
</html>