<%#= image_tag"welcome.jpg" %>
<%#= image_tag attachments['welcome.jpg'].url %>

<img alt="Qries" src="https://lh3.googleusercontent.com/YNuMG4CJyltVfURH2Ns5tjY0vcdS-PnRqn8Iv9ybKpQf84Z0Zce_kgLD9v-xhhX8lix6Mr3KoMFlQhK4gZD9VRSt3jEXDljE5OEgT1VhE5PO3IU0ZoVT2l2_8aiX8TSNg1ScIZkIgV_qQAQ0F4UEXgOUhCL7-4NPhJHChngsdHAoDcMJy_xGO2OG9sOjV85r59haptlc_dkVaj54k9sFaSItlSaVBvmgskhGZFffcucl-CvB0Tsp8qGLSvZQo9sTNcgkubsLhD5PDULmI7KyBUwsE5IUvc58rJslFzMkyyQHoPF7AiLyrDmVj-a2BhRSs9SZQdrnSWAE3lf0QOmFp0DX7ycDdrfVd-zLyIcAJtTWrnXJp8qOmuYK03u0SXYbxRIhrl4WgtvxcJo5gD3tEQuqsAAtvB_qeVGPVq3gVh8RRqpk9n-0JY_c-05_rkNUTUbgSXHPxcVuqfn6uCMIJCMcKWSzGgT9MXUECHYj32_6CekEFhOR8Z6AbYGaaRt8wp2zfX8UKf4pt4wY_xwCyYL-Pzx18R9VT7Jy76vg4B2-Ed2G_5sIt0EYYiNvAwR86EQVy4NPj8xgvK5mpx1MwA9tnrJEO0EyiHBZ8yttWQUOxEpofII5SLJ2YFUdSYxO0PyLUg4nMcHuxWdkhNwkNrIWSE7CQVXy1MrDhT8PYkuuFl-46AGBOFiZ1GZtXDU=w1200-h900-no?authuser=0"> 
<br>
  <p>
    You have successfully signed up to <%= link_to "One Day Challenge", "https://one-day-brandeis.herokuapp.com/", :target => "_blank" %>,
    your username is: <%= @user.name %>.<br>
  </p>
<br>
<p>Thanks for joining and have a great day!</p>
<p> Team One Day Challenge</p>
<%#= image_tag attachments['footer.jpg'].url %>