<div class='container'>
    <h2>Discussions</h2>
    <% @comments.each do |comment| %>
      <div class="border-top"> 
        <%= link_to "@#{comment.user.name}", user_path(comment.user) %>
        <p>
            <%= comment.content %>
            <% if current_user && current_user.id==comment.user_id %>
                <div class="d-flex justify-content-end ">
                  <div class = "btn-group btn-group-sm">
                    <%= link_to "Edit", edit_challenge_comment_path(comment.challenge, comment), class: "btn btn-primary" %>
                    <%= link_to "Delete", [comment.challenge, comment],  data: { confirm: "Are you sure?"}, class: "btn btn-primary", method: :delete %>
                  </div>
                </div>
            <% end %>
        </p>
      </div>
    <% end %>
</div><br>