<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-uppercase">Declutter Challenge</h2>
              <p class="item-intro text-muted">Life</p>
            	<%= image_tag "home/portfolio/01-thumbnail.jpg", class: "img-fluid d-block mx-auto" %>
              <p>Decluttering your house doesn’t have to be a huge time commitment – with a plan in place, a little organization, and a few hours per week, you can easily work towards a more peaceful, organized home that you can truly relax in. I challenge you to get rid of all of those unloved and unused items that are just taking up space in your home!</p>
              <ul class="list-inline">
                <li>Coins: 35</li>
                <li>Duration: 1 Day</li>
                <li>Deadline: 2020-05-02</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-uppercase">Quit Social Media Challenge</h2>
              <p class="item-intro text-muted">Habbit</p>
              <%= image_tag "home/portfolio/02-thumbnail.jpg", class: "img-fluid d-block mx-auto" %>
              <p>A heap of studies says you'll be happier without the likes of Facebook. So does Evopaper CMO Max Lukominskyi on Quora: "You will instantly notice how longer your day can be without it," he assures the leery. I challenge you to quit social media for 30 days. Come on, you can do it. Just imagine how much more you'll get done!</p>
              <ul class="list-inline">
                <li>Coins: 60</li>
                <li>Duration: 30 Days</li>
                <li>Deadline: 2020-05-10</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag "home/portfolio/03-thumbnail.jpg", class: "img-fluid d-block mx-auto" %>
              <p>Walking is simply great for your health. It helps you lose weight, gives you more energy and helps to clear your mind. So if you find you’re stuck in your car in traffic most of the time, find time to go for a short walk every day. Even if it is during your lunch break!</p>
              <ul class="list-inline">
                <li>Coins: 10</li>
                <li>Duration: 7 Days</li>
                <li>Deadline: 2020-08-09</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
