<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Please Add The Challenge To Your Calender. If you cannot add it from your browser, please import the attachment to you calendar App.</p>
    --------------------------
    <p>Challenge: <%= @challenge.name %></p>
    ----------
    <p>Description: <%= @challenge.description %></p>
  </body>
</html>